@font-face {
   font-family: 'Candy-Beans';
   font-display: swap;
   src: url('file:///C:/Users/jesus/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-04-06_144925/fonts/Candy-Beans/font.ttf');
}
